<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="login">
    <header th:replace="header_frg :: main_header"></header>
    <main class="main_content wdth_100 flex flex_justify_center flex_align_center oflow_hidden">
        <section class="main_section flex shdw_lv2">
            <form class="form wdth_100" method="POST" th:object="${login}" th:action="@{/login}">
                <p class="form_error_msg" th:text="${error} ?: ''"></p>
                <div class="form_ipt_ctn_txt">
                    <label class="from_ipt_label" for="username">Username</label>
                    <input type="text" th:field="*{username}" placeholder="john.smith@email.com" name="username" id="username" class="form_ipt_txt txt_ltr-sp_2" required>
                </div>
                <div class="form_ipt_ctn_txt">
                    <label class="from_ipt_label" for="password">Password</label>
                    <input type="password" th:field="*{password}" placeholder="*******" name="password" id="password" class="form_ipt_txt txt_ltr-sp_2" required>
                </div>
                <div class="form_ipt_ctn_btns">
                    <input type="submit" name="submit" class="from_ipt_btn btn color_white bck_black txt_upp txt_ltr-sp_4" value="Login">
                </div>
            </form>
        </section>
    </main>
    <footer th:replace="footer_frg :: main_footer"></footer>
</body>
</html>