<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="patient-sheet-profile" id="patient-sheet-profile" class="main_section_subSection hght_100 block oflow_hidden">
        <form class="form wdth_70" method="POST" th:object="${patient}" th:action="@{/patient/{id}/update (id=${patient.getId()})}">
            <p class="form_error_msg" th:text="${error} ?: ''"></p>
            <div class="form_col_ctn flex flex_row flex_justify_sp-between wdth_100">
                <div class="form_col wdth_45">
                    <div class="form_ipt_ctn_txt">
                        <label class="from_ipt_label" for="firstname">Firstname</label>
                        <input type="text" th:field="*{firstname}" placeholder="john" name="firstname" id="firstname" th:value="${patient.getFirstname()}" class="form_ipt_txt txt_captz txt_ltr-sp_2">
                    </div>
                    <div class="form_ipt_ctn_txt">
                        <label class="from_ipt_label" for="lastname">Lastname</label>
                        <input type="text" th:field="*{lastname}" placeholder="smith" name="lastname" id="lastname" th:value="${patient.getLastname()}" class="form_ipt_txt txt_captz txt_ltr-sp_2">
                    </div>
                    <div class="form_ipt_ctn_txt">
                        <label class="from_ipt_label" for="birthday">Birthday</label>
                        <input type="date" th:field="*{birthday}" placeholder="YYYY-MM-DD" name="birthday" id="birthday" th:value="${patient.getBirthday()}" class="form_ipt_txt txt_ltr-sp_2">
                    </div>
                    <div class="form_ipt_ctn_txt">
                        <label class="from_ipt_label" for="sexe">Sex</label>
                        <input type="text" th:field="*{sexe}" placeholder="M / F" name="sexe" id="sexe" th:value="${patient.getSexe()}" maxlength="1" class="form_ipt_txt txt_ltr-sp_2">
                    </div>
                </div>
                <div class="form_col wdth_45">
                    <div class="form_ipt_ctn_txt">
                        <label class="from_ipt_label" for="address">Address</label>
                        <input type="text" th:field="*{address}" placeholder="75 Halifax Street Bronx, NY 10466" name="address" id="address" th:value="${patient.getAddress()}" class="form_ipt_txt txt_ltr-sp_2">
                    </div>
                    <div class="form_ipt_ctn_txt">
                        <label class="from_ipt_label" for="email">email</label>
                        <input type="text" th:field="*{email}" placeholder="john.smith@email.com" name="email" id="email" th:value="${patient.getEmail()}" class="form_ipt_txt txt_ltr-sp_2">
                    </div>
                    <div class="form_ipt_ctn_txt">
                        <label class="from_ipt_label" for="phone">Phone</label>
                        <input type="text" th:field="*{phone}" placeholder="000-000-000" name="phone" id="phone" th:value="${patient.getPhone()}" class="form_ipt_txt txt_ltr-sp_2">
                    </div>
                    <div class="form_ipt_ctn_txt">
                        <label class="from_ipt_label" for="country">Country</label>
                        <input type="text" th:field="*{country}" placeholder="United States of America" name="country" id="country" th:value="${patient.getCountry()}" class="form_ipt_txt txt_ltr-sp_2">
                    </div>
                </div>
            </div>
            <div class="form_ipt_ctn_btns">
                <input type="reset" name="reset" class="from_ipt_btn btn color_grey69 bck_white txt_upp txt_ltr-sp_4" value="cancel">
                <a th:href="@{/patient/{id}/delete (id=${patient.getId()})}" class="from_ipt_btn btn color_red bck_white txt_upp txt_ltr-sp_4">delete</a>
                <input type="submit" name="submit" class="from_ipt_btn btn color_white bck_black txt_upp txt_ltr-sp_4" value="apply">
            </div>
        </form>
    </div>
</body>
</html>