<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body th:fragment="search">
    <header th:replace="header_frg :: main_header"></header>
    <main class="main_content wdth_100 flex flex_justify_center flex_align_center">
        <section class="main_section pos_relative flex flex_column shdw_lv2">
            <div class="form_ipt_ctn_txt_icon wdth_100">
                <svg class="feather strk_black">
                    <use th:href="@{/assets/icons/feather-sprite.svg#search}"/>
                </svg>
                <input type="text" name="search" id="search" class="form_ipt_txt" placeholder="Search ...">
            </div>
            <div class="dataset_ctn wdth_100 oflow_y_scroll oflow_x_hidden">
                <div class="dataset_el_ctn wdth_100 flex flex_column">
                    <a th:href="@{/patient/{id} (id=${patient.id})}" th:each="patient : ${patients}" class="dataset_el flex flex_row flex_align_center pos_relative">
                        <div class="dataset_el_icon flex_center oflow_hidden">
                            <img th:src="@{assets/icons/user.svg}">
                        </div>
                        <p th:text="${patient.getLastname()}" class="dataset_el_lastname txt_upp txt_ltr-sp_2"></p>
                        <p th:text="${patient.getFirstname()}" class="dataset_el_firstname txt_captz txt_ltr-sp_2"></p>
                        <svg class="icon feather strk_grey96 pos_absolute">
                            <use th:href="@{/assets/icons/feather-sprite.svg#chevron-right}"/>
                        </svg>
                    </a>
                </div>
            </div>
            <a th:href="@{/patient/create}" class="btn btn_add pos_absolute flex_center bck_black">
                <svg class="feather strk_white">
                    <use th:href="@{/assets/icons/feather-sprite.svg#plus}"/>
                </svg>
            </a>
        </section>
    </main>
    <footer th:replace="footer_frg :: main_footer"></footer>
</body>
</html>