.main_content {
    margin-bottom: 50px;
    height: calc(100% - var(--mainHeaderHeight) - 50px);
}

.main_section {
    padding: 25px 25px 0px 25px;
    height: calc(100% - 25px);
    width: calc(90% - 50px);
}

/* HEADER */
    .main_section_header {
        height: 80px;
    }

    .patient_imgProfile {
        height: 60px;
        width: 60px;
        border-radius: 60px;
    }

    .patient_name {
        padding-left: 30px;
    }

    .patient_name p {
        margin-right: 5px;
        font-size: 16px;
    }

    .patient_contact_mail {
        font-size: 12px;
        margin-bottom: 5px;
    }

    .patient_contact_phone {
        font-size: 12px;
    }

    .patient_visits {
        font-size: 12px;
    }

    .patient_visits p:nth-child(1) {
        margin-bottom: 5px
    }

    .reportValue {
        border-width: 2px;
        border-radius: 5px;
        border-style: solid;
        padding: 5px 25px;
        font-size: 13px;
        margin-right: 30px;
    }

/* NAV */
    .main_section_nav {
        height: 100px;
    }

    .main_section_nav .btn {
        width: 350px;
    }

    .main_section_nav .btn.active .icon, .main_section_nav .btn.active .btn_label {
       opacity: 1;
    }

    .main_section_nav .btn:nth-child(2) {
        border-width: 0 2px 0 2px;
        border-style: solid;
        border-radius: 0;
        border-color: var(--color_black);
        height: 25px;
        padding: 0;
    }

    .main_section_nav .btn .icon {
        margin-right: 20px;
        height: 20px;
        width: 20px;
        opacity: 0.25;
    }

    .main_section_nav .btn .btn_label {
        font-size: 14px;
        opacity: 0.25;
    }

/* SECTIONS */
    .main_section_subSection_ctn {
        height: calc(100% - 100px - 80px);
    }

    /* PROFILE */
    #patient-sheet-profile form, #patient-sheet-profile form .form_ipt_ctn_btns {
        margin-top: 30px;
    }

    #patient-sheet-profile form .form_ipt_ctn_btns .from_ipt_btn {
        width: 150px;
        margin: 0 10px;
    }

    /* VISITS */
    #patient-sheet-visits .visits_ctn {
        padding-top: 30px;
    }

    #patient-sheet-visits .visit {
        margin-bottom: 20px;
        padding-bottom: 20px;
        min-height: 150px;
        border-bottom: 1px solid var(--color_greyE1);
    }

    #patient-sheet-visits .visit .visit_info, #patient-sheet-visits .visit .visit_content {
        opacity: 0.4;
    }

    #patient-sheet-visits .visit.active .visit_info, #patient-sheet-visits .visit.active .visit_content {
        opacity: 1;
    }

    #patient-sheet-visits .visit:last-child {
        border: none;
    }

    #patient-sheet-visits .visit_info .visit_info_doctor {
        font-size: 14px;
        margin-bottom: 15px;
    }

    #patient-sheet-visits .visit_info .visit_info_ctn {
        font-size: 10px;
        margin-bottom: 5px;
    }

    #patient-sheet-visits .visit_content {
        font-size: 12px;
        line-height: 20px;
    }

    #patient-sheet-visits form {
        margin-bottom: 60px;
    }

    #patient-sheet-visits .visit .btn_active {
        top: 50%;
        right: -80px;
        transform: translateY(-50%);
    }

    /* REPORT */
    #patient-sheet-report .report {
        margin-top: 30px;
        width: 450px;
        padding: 20px;
        border-width: 1.5px;
        border-radius: 10px;
        border-style: solid;
    }

    #patient-sheet-report .report .report_line {
        margin-bottom: 20px;
    }

    #patient-sheet-report .report .report_line .report_line_label {
        font-size: 10px;
        margin-right: 10px;
    }

    #patient-sheet-report .report .report_line .report_line_data {
        font-size: 13px;
    }

    #patient-sheet-report .report .report_result_value {
        margin: 20px auto 0 auto;
        border-width: 2px;
        border-radius: 5px;
        border-style: solid;
        padding: 5px 25px;
        font-size: 13px;
    }
