.main_section {
    width: 500px;
    padding: 25px 40px 0px 40px;
}

.dataset_ctn {
    height: 300px;
}

.dataset_el_ctn {
    padding-bottom: 40px;
}

.dataset_el {
    height: 40px;
    padding: 0 20px;
    margin: 10px 0;
}

.dataset_el .dataset_el_icon {
    height: 35px;
    width: 35px;
    border-radius: 40px;
    margin-right: 25px;
}

.dataset_el .dataset_el_icon img {
    width: 100%;
}

.dataset_el .dataset_el_lastname {
    margin-right: 10px;
}

.dataset_el .icon {
    width: 20px;
    height: 20px;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
}

.btn_add {
    bottom: -80px;
    right: 50%;
    transform: translateX(50%);
}

