@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;1,400&family=Roboto&display=swap');
@import 'mcf_css-1.0.0/mcf_css-1.0.0.css';

:root {
    --mainHeaderHeight: 80px;
    --mainFooterHeight: 40px;
    --mainPadding: 0 25px 0 25px;
    --blockCtnPadding_TB: 30px;
    --blockCtnPadding_LR: 50px;
    --blockCtnPadding: var(--blockCtnPadding_TB) var(--blockCtnPadding_LR);
    --sectionWidth_S: 500px;
    --sectionWidth_M: 650px;
    --sectionWidth_L: 800px;
    --sectionWidth_XL: 1000px;
}

html, body {
    height: 100%;
    overflow: hidden;
    font-family: 'Open Sans',  sans-serif;
}

body {
    position: relative;
    padding: var(--mainPadding);
    width: calc(100% - 50px);
}

::placeholder {
    color: var(--color_greyE1);
}

input:disabled {
    color: var(--color_grey96);
}
